{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Książeczka' }}
{% endblock %}

{% block body %}
<div class="srodek">


   <h1> Górska Odznaka Turystyczna PTTK – podstawowe informacje</h1>
  <h2>  Czym jest PTTK?</h2>
   <p> PTTK, czyli Polskie Towarzystwo Turystyczno-Krajoznawcze, powstało w 1955 roku
    z połączenia Towarzystwa Tatrzańskiego oraz Polskiego Towarzystwa Krajoznawczego.
    </p><p>PTTK rozwija i upowszechnia krajoznawstwo i turystykę kwalifikowaną we wszystkich jej formach, zajmuje się też utrzymaniem i pielęgnacją szlaków turystycznych.
   </p>
    <h2>Czym jest odznaka turystyczna?</h2>
    <p>Towarzystwo Turystyczno-Krajoznawcze stworzyło i upowszechnia system odznak służący rozwojowi zainteresowania różnymi formami turystyki i krajoznawstwa.
    </p>
    <p>GOT, czyli Górska Odznaka Turystyczna, jest pierwszą odznaką stworzoną przez towarzystwo.  Jej celem jest upowszechnianie turystyki górskiej. Odznaka ta stała się tak popularna, że zainspirowała stworzenie innych odznak. Obecnie odznaki skupiają się
    na różnych sposobach aktywnego spędzania czasu.  Zasady są podobne dla wszystkich typów odznak. Za każdą wycieczkę otrzymuje się punkty, które można wymienić za dany typ odznaki.
    </p>
    <h2>Jak zbierać punkty?</h2>
   <p>Oznaczone szlaki górskie mają przypisane punkty. Tabele z punktami można zobaczyć
    na oficjalnej stronie Komisji Turystyki Górskiej. Każda trasa ma przypisane punkty za
    wejście i zejście.
   </p>
    <p>
    Punkty trzeba zapisywać w książeczce wraz z opisem trasy i pieczątką z miejsca, które odwiedziliśmy. Pieczątki są zazwyczaj dostępne w każdym schronisku górskim. Alternatywnie można załączyć zdjęcie z wycieczki, pokazujące jakiś charakterystyczny punkt na trasie.  Jeśli na wycieczce był obecny przewodnik, można również poprosić go o potwierdzenie.</p>
    <p>
        Za wyprawy nieoznaczonymi szlakami również należą się punkty GOT. Przyznaje się 1 punkt za 1 kilometr lub za każde 100 m sumy różnic poziomów przy podejściach.
   </p>
    <h2>Jakie są odznaki ?</h2>

    <h3>Wszystkie osoby powyżej 7 roku życia zdobywają odznaki ze stopniami:</h3>
    <ul>
        <li>popularna,</li>
        <li>mała brązowa,</li>
        <li>mała srebrna,</li>
        <li>mała złota.</li>
    </ul>
    <p>
    Dużą odznakę GOT można otrzymać po zebraniu wszystkich małych odznak. Należy odbyć co najmniej dwie wielodniowe wycieczki, które spełniają dodatkowe warunki. Więcej informacji na ten temat znajdziesz w regulaminie.
    Odznakę „Za wytrwałość” otrzymuje się za wieloletnie otrzymywanie złotych odznak GOT PTTK.
    </p>
    <h2>Jak otrzymać odznakę?</h2>
    <p>
    Wypełnioną książeczkę GOT trzeba przekazać do weryfikacji do Terenowego Referatu Weryfikacyjnego PTTK.
    </p>
    <p>
    W jednym roku kalendarzowym można zdobyć tylko jeden stopień GOT PTTK. Stopnie popularny i mały brązowy mogą być zdobyte w tym samym roku, jeśli zdobywający ukończył 10 lat.
    </p>

    <h2>Oferta dla dzieci</h2>
    <h3>Dla dzieci w wieku 5 do 7 lat stworzono odznakę „W góry” z trzema stopniami:</h3>
    <ul>
        <li>brązowa (15 pkt),</li>
        <li>srebrna (30 pkt),</li>
        <li>złota (45 pkt).</li>
    </ul>

</div>

{% endblock %}