{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Książeczka' }}
{% endblock %}

{% block body %}
<div class="srodek">


  <p>
      Autoren niniejszego serwisu jest Agnieszka Moryc </p>
    <p>

      Serwis ten stanowi integralną część pracy licencjackiej (kierunek: Elektroniczne Przetwarzanie Informacji), przygotowanej pod kierunkiem Wiesława Lubaszewskiego
        na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.
<p>
        <p>
        Wszystkie dane znajdujące się w serwisie są wyłącznie poglądowe i zostały dodane w celach testowych.
  </p>

</div>

{% endblock %}